{% extends 'base.html' %}

{% block title %}Sign up to banan-asset if you dare{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="/static/style/authentication.css">
{% endblock %}

{% block content %}

<form method="POST" class="container col-sm-8 col-md-6 col-lg-4 col-xxl-3">

  <legend class="mb-3 text-center">Oh? You're signing up? Instead of running away, you're coming right to Bitcoin?</legend>

  {{ form.hidden_tag() }}

  <div class="row">
    <div class="col-6 form-floating">
      {{ form.name(class_='form-control bg-light text-white is-'+validity['name'], placeholder_='abc') }}
      {{ form.name.label }}

      {% if form.name.errors %}
        <span class="invalid-feedback">{{ form.name.errors[0] }}<span>
      {% endif %}
    </div>

    <div class="col-6 form-floating">
      {{ form.username(class_='form-control bg-light text-white is-'+validity['username'], placeholder_='abc') }}
      {{ form.username.label }}

      {% if form.username.errors %}
        <span class="invalid-feedback">{{ form.username.errors[0] }}<span>
      {% endif %}
    </div>

    <div class="form-floating">
      {{ form.passphrase(class_='form-control bg-light text-white is-'+validity['passphrase'], placeholder_='abc') }}
      {{ form.passphrase.label }}

      {% if form.passphrase.errors %}
        <span class="invalid-feedback">{{ form.passphrase.errors[0] }}<span>
      {% endif %}
    </div>

    <div class="form-floating">
      {{ form.pass_verify(class_='form-control bg-light text-white is-'+validity['pass_verify'], placeholder_='abc') }}
      {{ form.pass_verify.label }}
      
      {% if form.pass_verify.errors %}
        <span class="invalid-feedback">{{ form.pass_verify.errors[0] }}</span>
      {% endif %}
    </div>
  </div>

  <div class="d-grid">
    <button class="btn btn-primary" type="submit">Sign up</button>
  </div>

</form>

{% endblock %}