#h1-inner:hover #h1-gains {
  display: none;
}

#h1-inner:hover::before {
  content: ' losses';
}

.d-flex .form-label {
  margin: 0;
  align-self: center;
}

.select2-container {
  width: 100%;
}

.select2-container.select2-container--default.select2-container--open:not(.select2-container--below){
  width: 0; /* Prevents overflow that widens the page */
}

.select2-container--default .select2-selection--multiple {
  background-color: black;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: transparent;
  color: #fd7e14;
  border-color: #fd7e14;

}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #fd7e14;
  border-right-color: #fd7e14;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #aaa;
}

.select2-dropdown {
  background-color: black;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #fd7e14;
}

.select2-container--default .select2-results__option--selected {
  background-color: #7e3f0a;
}

.select2-selection__clear span {
  color:#aaa
}