<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/cyborg/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>Bbanan-asset</title>
</head>

<body>
  <header>
    <div class="container">
      <div class="row pt-4">
        <div class="col-8 col-md-6 ms-md-5 text-end" id="title">
          <h3>What if you'd</h3>
          <h3 id="header-btc"><b>b</b>ought <b>B</b>itcoin</h3>
          <h3><b>a</b>nd <b>n</b>ot</h3>
          <h3 id="header-asset"><b>an</b>other <b>asset</b>?</h3>
        </div>
        <div class="col-3 ms-md-3 d-flex align-items-center">
          <h5>Let's find out. Welcome to bbanan-asset!</h5>
        </div>
      </div>
    </div>
  </header>

  <form class="bg-warning text-center px-3 py-4">
    <legend>Select the origin and destination of a trade</legend>
    <div class="row gx-2">
      <div class="col">
        <fieldset class="d-grid d-md-block gap-2 mb-2">
          <!-- <span class="lead text-white">From: </span> -->

          <input type="radio" id="f-fiat-radio" name="fsym-radio" class="btn-check fsym-radio" autocomplete="off" checked>
          <label for="f-fiat-radio" class="btn btn-warning">Fiats</label>

          <input type="radio" id="f-crypto-radio" name="fsym-radio" class="btn-check fsym-radio" autocomplete="off">
          <label for="f-crypto-radio" class="btn btn-warning">Cryptos</label>

          <input type="radio" id="f-comm-radio" name="fsym-radio" class="btn-check fsym-radio" autocomplete="off">
          <label for="f-comm-radio" class="btn btn-warning">Commodities</label>
        </fieldset>
        
        <fieldset> <!-- These get toggled by js when radio buttons ^^^ are clicked -->
          <div class="fsym-collapse collapse show form-floating" id="f-fiat-collapse">
            {{ form.from_fiats(class_='form-select') }}
            {{ form.from_fiats.label(class_='text-black') }}
          </div>
          <div class="fsym-collapse collapse form-floating" id="f-crypto-collapse">
            {{ form.from_cryptos(class_='form-select') }}
            {{ form.from_cryptos.label(class_='text-black') }}
          </div>
          <div class="fsym-collapse collapse form-floating" id="f-comm-collapse">
            {{ form.from_comms(class_='form-select') }}
            {{ form.from_comms.label(class_='text-black') }}
          </div>
        </fieldset>
      </div>

      <div class="col">
        <fieldset class="d-grid d-md-block gap-2 mb-2">
          <!-- <span class="lead text-white">To: </span> -->

          <input type="radio" id="t-fiat-radio" name="tsym-radio" class="btn-check tsym-radio" autocomplete="off">
          <label for="t-fiat-radio" class="btn btn-warning">Fiats</label>

          <input type="radio" id="t-crypto-radio" name="tsym-radio" class="btn-check tsym-radio" autocomplete="off" checked>
          <label for="t-crypto-radio" class="btn btn-warning">Cryptos</label>

          <input type="radio" id="t-comm-radio" name="tsym-radio" class="btn-check tsym-radio" autocomplete="off">
          <label for="t-comm-radio" class="btn btn-warning">Commodities</label>
        </fieldset>

        <fieldset class="my-2">
          <div class="tsym-collapse collapse form-floating" id="t-fiat-collapse">
            {{ form.to_fiats(class_='form-select') }}
            {{ form.to_fiats.label(class_='text-black') }}
          </div>
          <div class="tsym-collapse collapse show form-floating" id="t-crypto-collapse-">
            {{ form.to_cryptos(class_='form-select') }}
            {{ form.to_cryptos.label(class_='text-black') }}
          </div>
          <div class="tsym-collapse collapse form-floating" id="t-comm-collapse">
            {{ form.to_comms(class_='form-select') }}
            {{ form.to_comms.label(class_='text-black') }}
          </div>
        </fieldset>
      </div>
    </div>

    <div class="row gx-0 gy-2">
      <div class="col-md-5 form-floating">
        {{ form.amount(class_='form-control', placeholder_='42', min_='0', step_='.00000001') }}
        {{ form.amount.label(class_='text-black ms-2') }}
      </div>
      <div class="col-md-5 px-md-2 form-floating">
        {{ form.date(class_='form-control') }}
        {{ form.date.label(class_='text-black') }}
      </div>
      
      <button class="col-md-2 btn btn-warning border-white" type="submit">Submit</button>
    </div>
  </form>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>