<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/cyborg/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/static/style/index.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>Banan-asset</title>
</head>

<body>
  <div id="first-screen" class="bg-black">
    <div id="top-buttons" class="d-flex align-items-center ms-2 mt-2">
      {% if current_user.is_authenticated %}
        <a href="/logout" class="btn btn-sm btn-outline-warning rounded-pill me-1">Logout</a>
      {% else %}
        <a href="/signup" class="btn btn-sm btn-outline-warning rounded-pill">Sign up</a>
        <a href="/login" class="btn btn-sm btn-outline-warning rounded-pill mx-1">Login</a>
      {% endif %}
      <a href="#" class="btn btn-sm btn-outline-warning rounded-pill" data-bs-toggle="modal" data-bs-target="#buy-links-modal">Buy bitcoin</a>
      {% include 'current_price.html'   %}
    </div>
    <header id="title-question" class="d-flex align-items-center py-md-3">
      <div class="container">
        <div class="row pt-2">
          <div class="col-8 col-md-6 ms-md-5 text-end" id="title">
            <h3>What if you'd</h3>
            <h3 id="header-btc">bought <b>B</b>itcoin</h3>
            <h3><b>a</b>nd <b>n</b>ot</h3>
            <h3 id="header-asset"><b>an</b>other <b>asset</b>?</h3>
          </div>
          <div class="col-3 ms-md-3 d-flex align-items-center">
            <h5>Let's find out. Welcome to banan-asset!</h5>
          </div>
        </div>
      </div>
    </header>


    <div id="trade-form" class="d-flex align-items-center py-md-4 bg-warning">
      <form class="container-lg needs-validation text-center px-3 pb-2" novalidate>
        <legend>Select the origin and destination of a trade</legend>
        <div class="row gx-2">
          <div class="col">
            <fieldset class="d-grid d-md-block gap-2 mb-2">

              <input type="radio" id="f-fiat-radio" name="fsym-radio" class="btn-check" data-target-collapse='f-fiat-collapse' data-target-select="#from_fiats" autocomplete="off" checked>
              <label for="f-fiat-radio" class="btn btn-warning">Fiats</label>

              <input type="radio" id="f-crypto-radio" name="fsym-radio" class="btn-check"  data-target-collapse='f-crypto-collapse' data-target-select="#from_cryptos"autocomplete="off">
              <label for="f-crypto-radio" class="btn btn-warning">Cryptos</label>

              <input type="radio" id="f-comm-radio" name="fsym-radio" class="btn-check" data-target-collapse='f-comm-collapse' data-target-select="#from_comms" autocomplete="off">
              <label for="f-comm-radio" class="btn btn-warning">Commodities</label>
            </fieldset>
            
            <fieldset> <!-- These get toggled by js when radio buttons ^^^ are clicked -->
              <div class="fsym-collapse collapse show form-floating" id="f-fiat-collapse">
                {{ form.from_fiats(class_='form-select') }}
                {{ form.from_fiats.label(class_='text-black') }}
              </div>
              <div class="fsym-collapse collapse form-floating" id="f-crypto-collapse">
                {{ form.from_cryptos(class_='form-select') }}
                {{ form.from_cryptos.label(class_='text-black') }}
              </div>
              <div class="fsym-collapse collapse form-floating" id="f-comm-collapse">
                {{ form.from_comms(class_='form-select') }}
                {{ form.from_comms.label(class_='text-black') }}
              </div>
            </fieldset>
          </div>

          <div class="col">
            <fieldset class="d-grid d-md-block gap-2 mb-2">

              <input type="radio" id="t-fiat-radio" name="tsym-radio" class="btn-check" data-target-collapse='t-fiat-collapse' data-target-select="#to_fiats" autocomplete="off">
              <label for="t-fiat-radio" class="btn btn-warning">Fiats</label>

              <input type="radio" id="t-crypto-radio" name="tsym-radio" class="btn-check" data-target-collapse='t-crypto-collapse' data-target-select="#to_cryptos" autocomplete="off" checked>
              <label for="t-crypto-radio" class="btn btn-warning">Cryptos</label>

              <input type="radio" id="t-comm-radio" name="tsym-radio" class="btn-check" data-target-collapse='t-comm-collapse' data-target-select="#to_comms" autocomplete="off">
              <label for="t-comm-radio" class="btn btn-warning">Commodities</label>
            </fieldset>

            <fieldset class="my-2">
              <div class="tsym-collapse collapse form-floating" id="t-fiat-collapse">
                {{ form.to_fiats(class_='form-select') }}
                {{ form.to_fiats.label(class_='text-black') }}
              </div>
              <div class="tsym-collapse collapse show form-floating" id="t-crypto-collapse">
                {{ form.to_cryptos(class_='form-select') }}
                {{ form.to_cryptos.label(class_='text-black') }}
              </div>
              <div class="tsym-collapse collapse form-floating" id="t-comm-collapse">
                {{ form.to_comms(class_='form-select') }}
                {{ form.to_comms.label(class_='text-black') }}
              </div>
            </fieldset>
          </div>
        </div>

        <div class="row gx-0 gy-2">
          <div class="col-md-5 form-floating">
            {{ form.amount(class_='form-control', placeholder_='42', min_='0.000001', step_='.00000001') }}
            {{ form.amount.label(class_='text-black ms-2') }}
          </div>
          <div class="col-md-5 px-md-2 form-floating">
            {{ form.date(class_='form-control', max_=today, min_='2011-01-01') }}
            {{ form.date.label(class_='text-black') }}
          </div>
          
          <button class="col-md-2 btn btn-warning border-white" type="submit">
            <span class="spinner-border spinner-border-sm d-none" id="submit-spinner"></span>  
            Submit
          </button>
        </div>

      </form>
    </div>
    
    <!-- Notification-ish box that shows when activated by JS -->
    <div class="toast align-items-center bg-light position-fixed bottom-0 end-0 me-2 mb-2">
      <div class="d-flex">
        <span class="toast-body">That trade pair is unavailable at the selected date.</span>
      </div>
    </div>
  </div>

  <div id="second-screen" class="d-non">
    <div id="result" class="d-flex align-items-center">
      <div class="container p-md-5">
        
        <h3>If you had bought</h3>
        <h3 class="text-center">Bitcoin instead of</h3>
        <h3 class="text-end">
          <span id="to-sym"></span>
          , you'd have...
        </h3>
        
        <div class="row text-center mt-5">
          <h2 class="col-md-6">$<span id="usd-result"></span></h2>
          <h2 class="col-md-6">₿<span id="btc-result"></span></h2>
          <h4 class="mt-4">Back then, 1 bitcoin was only $<span id="btc-price"></span>.</h4>
        </div>
        {% if current_user.is_authenticated %}
        <button class="btn btn-outline-warning d-block m-3 mx-auto">Add to my trades</button>
        {% endif %}
      </div>
    </div>
    
    <div id="signup-links" class="text-center">
      {% if current_user.is_anonymous %}
      <p>Want more? 
        <a href="/signup" class="text-warning">Sign up</a>
        to see more info, add multiple trades, and see your overall performance!
      </p>
      {% endif %}

      <p class="mb-0">Did you know you don't have to buy a full bitcoin?</p>
      <p>You can 
        <a href="#" class="text-warning" data-bs-toggle="modal" data-bs-target="#buy-links-modal">get started</a>
        with $20, $5 or even $1!
      </p>
    </div>
  </div>

  <!-- Modal that redirects to btc sellers  -->
  <div class="modal fade" id="buy-links-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h1 class="modal-title fs-5">Interested in bitcoin?</h1>
          <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="https://unpkg.com/jquery"></script>
<script src="/static/script.js"></script>
</body>
</html>